@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Teacher: @ViewData["Teacher"]</p>
<p>@ViewData["Dev"]</p>

<p>Use this area to provide additional information.</p>
