body {
    background-color: #F8F8FF;
}

footer {
    border-top: 1px solid #333;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 100%;
}

div.body-content {
    margin-bottom:700px;
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

.carousel-inner .carousel-item-right.active,
.carousel-inner .carousel-item-next {
    transform: translateX(25%);
}

.carousel-inner .carousel-item-left.active,
.carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
    transform: translateX(0);
}

span.carousel-control-prev-icon{
    background-color: purple;
    left: -15px;
    position: absolute;
}

span.carousel-control-next-icon {
    background-color: purple;
    position: absolute;
    right: 35px;
}

.content-product {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 5px;
    padding-bottom: 5px;
}

.productData {
    flex-basis: 20%;
    background-color: white;
}

.img-Carousel{
    display: block;
    width: 100%;
    padding: 0 15px;
}

.priceProduct{
    font-size: 18px;
}

.product-Description {
    text-align: justify;
    margin-left: 40%;
}

.description-Name {
    font-size: 18px;
    text-align: center;
}

.buy-Up {
    text-align: center;
    font-size: 14px;
}

#recipeCarousel{
    position:relative;
}

